<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Votre Panier – JO 2024</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='panier.css') }}" />
</head>
<body>

 <header>
  <h1>🛒 Bienvenue sur le site des JO Paris 2024</h1>
  <nav>
    <a href="{{ url_for('index') }}">Accueil</a>
    <a href="{{ url_for('panier') }}">Panier</a>
    {% if current_user.is_authenticated %}
      <span>Connecté</span>
      {% if current_user.is_admin %}
        <a href="{{ url_for('admin_dashboard') }}">Administration</a> <!-- Lien vers la page admin -->
      {% endif %}
      <a href="{{ url_for('logout') }}">Déconnexion</a>
    {% else %}
      <a href="{{ url_for('login') }}">Connexion</a>
    {% endif %}
  </nav>
</header>

  <a href="#">
    <img src="https://media.istockphoto.com/id/171265348/fr/photo/trois-m%C3%A9dailles-olympiques-drapeau.jpg?s=2048x2048&w=is&k=20&c=uiU5Knn_CxT9D44K8o2tZjZ-jzGKaZvfxoAMft7P6AE=" alt="Anneaux Olympiques" class="hero-image">
  </a>

  <main>
    <section class="hero">
      <h2>Votre sélection de billets</h2>
      <p>Voici les billets que vous avez ajoutés à votre panier.</p>
    </section>

    <section class="offers" id="cart-items">
      {% if items %}
        <ul>
          {% for item in items %}
            <li>{{ item.title }} – {{ item.price }} €</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Votre panier est vide.</p>
      {% endif %}
    </section>

    <section class="hero">
      <h3 id="total">Total Panier : {{ total }} €</h3>
      <button id="clear-cart" class="cta-button">Vider le panier</button>
      <form action="{{ url_for('create_checkout_session') }}" method="post">
  <button type="submit" class="cta-button">Procéder au paiement</button>
</form>

    </section>
  </main>

  <footer>
    <p>&copy; 2024 Paris 2024 - Tous droits réservés</p>
  </footer>

  <script src="{{ url_for('static', filename='panier.js') }}"></script>
</body>
</html>
