<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inscription – JO Paris 2024</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='inscription.css') }}" />
</head>
<body>
  <header>
    <h1>Inscription</h1>
    <nav>
      <a href="{{ url_for('index') }}">Accueil</a>
      <a href="{{ url_for('register') }}">Inscription</a>
    </nav>
  </header>

  <a href="#">
    <img src="https://media.istockphoto.com/id/171265348/fr/photo/trois-m%C3%A9dailles-olympiques-drapeau.jpg?s=2048x2048&w=is&k=20&c=uiU5Knn_CxT9D44K8o2tZjZ-jzGKaZvfxoAMft7P6AE=" alt="Anneaux Olympiques" class="hero-image">
  </a>

  <main>
    <form method="POST" action="{{ url_for('register') }}">
      <label>Email :</label>
      <input type="email" name="email" required />
    
      <label>Mot de passe :</label>
      <input type="password" name="password" required />
    
      <label>Confirmer le mot de passe :</label>
      <input type="password" name="confirm_password" required />
    
      <button type="submit">S'inscrire</button>
    </form>    
    
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
  </main>
</body>
</html>
